.headermain{
    display: flex;
    justify-content: space-between;
    padding: 0 5% ;
    height: 5rem;
    align-items: center;
   

}
.header_logo{
    display: flex;
    gap: 2px;
}

.header_links ul{
    display: flex;
    gap: 5rem;
    list-style: none;
}
.mobile_ul{
    background: #fff !important;
    width: 30%;
    padding-left: 0 !important;
    position: absolute;
    row-gap: 0 !important;
    right: 2%;
    top: 7%;
    box-shadow: 0 0 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    overflow: hidden;
    z-index: 1500;
    
}
.mobile_ul li{
    padding: 7px ;
    width: 100%;
    text-align: center;
    border: 1px solid gray;
}
.mobile_ul li:hover{
background-color: #fcfafa;
}





/* Hero Section */
.HeroSection{
    height: calc(100vh - 5rem);
    width: 100%;
    overflow-y: hidden;
    position: relative;
   
}
.HeroSection img{
    width: 100%;
    opacity: .6;
}
/* Hero Section */


/* Responsive Header */

@media screen and (max-width: 930px) {
    .MuiTypography-root{
        font-size: medium !important;
    }
    .header_ul{
        display: none !important;

    }
    .mobile_head_menu{
        display: flex !important;
    }
    
}


@media screen and (max-width:500px) {
    .footer{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:950px) {
    .notInverted{
        display: flex !important;
        flex-direction: column !important;
        
    }
    .Inverted{
        display: flex !important;
        flex-direction: column-reverse !important;
        
    }
    .imageToCenter{
        display: flex !important;
        
        justify-content: center !important;
        margin: 15px 0 !important;
        
    }
    .imageToCenter img{
        width: 100%;
       
        border-radius: 30px;
        
    }
}

/* Responsive Header */